@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
    font-family: "Open Sans";
    font-size: 16px;
    height: 100%;
    color: black;
}

body {
    background-color: #cde9f5;
}

.VPNavBar,
.VPNavBar .content,
.VPNavBarTitle {
    background-color: #1986af !important;
}

.VPNavBar {
    box-shadow: 0 2px 40px 0 hsl(0deg 0% 6% / 5%);
}

.title {
    color: #cde9f5 !important;
    height: 71px;
}

.VPSidebar {
    background-color: #cde9f5 !important;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
    font-weight: bold;
}